[user]
  name = Guilherme Rodz
  email = guilherme.rodrigues.profissional@gmail.com

; Changes merge tool to 'vimdiff'
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
